<section style="display: none;" class="h-card">
<span class="p-name">{{ site.title }}</span>
<span class="p-note">{{ site.description }}</span>
<img class="u-logo" src="/assets/img/prof_pic.png"/>
<a class="u-url u-uid" href="{{ site.base_url }}"></a>
<a class="u-email" rel="me" href="mailto:dave@dnhome.uk"></a>
<a class="u-url" rel="me" href="https://www.strava.com/athletes/6001450"></a>
<a class="u-url" rel="me" href="https://www.youtube.com/user/ninjaguardsheep"></a>
</section>
