<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Dave rides bikes for great justice and because its fun. Occasionally he writes about the experience.">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- FML -->
<link rel="icon" type="image/png" href="/assets/img/favicon.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/img/favicon-128.png" sizes="128x128">
<link rel="icon" type="image/png" href="/assets/img/favicon-192.png" sizes="192x192">
<!-- Andriod -->
<link rel="shortcut icon" type="image/png" href="/assets/img/favicon-196.png" sizes="196x196">
<!-- iOS -->
<link rel="apple-touch-icon" type="image/png" href="/assets/img/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" type="image/png" href="/assets/img/favicon-180.png" sizes="180x180">
<title>{{ page.title }}</title>
</head>
