<nav id="navigation">
<hr>
<ul>
<li>{% if page.title == "Dave Rides Bikes" %}<a href="#top">Top{% else %}<a href="{{ site.base_url }}">Home{% endif %}</a></li>
<li><a href="{{ site.base_url }}/feed.xml">RSS</a></li>
<li><a href="mailto:dave@dnhome.uk">Email</a></li>
<li><a rel="me" href="https://mastodon.social/@ninjaguardsheep">Mastodon</a></li>
</ul>
</nav>
