:root {
    --bg-color: #fff;
    --title-color: #82ad68;
    --header-color: #2c3739;
    --color: #2c3739;
    --link-color: #2c3739;
    --selection-color: #2c3739;
    --selection-bg-color: #82ad68;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2c3739;
        --title-color: #82ad68;
        --header-color: #94aab5;
        --color: #94aab5;
        --link-color: #94aab5;
        --selection-color: #2c3739;
        --selection-bg-color: #82ad68;
    }
}
html,body {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    font-size: 100%;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
h1,h2,h3 {
    font-weight: bold;
    margin: 1em 0;
}
h1 {
    color: var(--title-color);
    font-size: 2.4rem;
}
h2,h3 {
    color: var(--header-color);
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.4rem;
}
a,p,span,time {
    color: var(--color);
    font-size: 1rem;
    line-height: 1.4rem;
}
a {
    color: var(--link-color);
    text-decoration-color: var(--link-color);
    text-decoration: underline;
}
a:hover {
    background-color: var(--color);
    color: var(--bg-color);
}
hr {
    border-top: 2px solid var(--color);
    border-bottom: none;
    width: 1em;
}
iframe {
    display: block;
    margin: 0.5em auto;
    width: 100%
}
img {
    width: 100%;
    display: block;
}
nav ul {
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    padding: 0 1em 0 0;
}
nav a {
    color: var(--header-color);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
nav hr {
    width: auto;
    margin: 0.5em 0;
}
footer {
    background-color: var(--bg-color);
    padding: 0.25em 0.5em;
    flex: 0 0 auto;
}
footer a {
    font-size: 0.8rem;
}
footer p {
    font-size: 0.8rem;
}
::selection {
    background: var(--selection-bg-color);
    color: var(--selection-color);
}
h1::selection {
    background: var(--color);
    color: var(--title-color);
}
a::selection {
    background: var(--color);
    color: var(--bg-color);
}
#container {
    margin: 0 auto 4em auto;
    width: 640px;
    flex: 1 0 auto;
}
#title {
    bottom: 0;
    right: 0.2em;
    margin: 0;
    position: absolute;
}
#title_img {
    height: 360px;
    width: 640px;
    background-image: url("/assets/img/header.jpg");
    margin: 0 auto 0.5em auto;
    position: relative;
    flex: 0 0 auto;
}
#index li {
    display: block;
}
#index time {
    display: inline-block;
    width: 7em;
    margin: 0.5em auto 0.5em 0;
    border-right: 2px solid var(--color);
}
#index a {
    display: inline-block;
    margin: 0.5em auto 0.5em 2em;
}
/* Scale elements on smaller screens to prevent side-scrolling */
@media only screen and (max-width: 640px) {
    #container {
        width: 96%;
    }
    #title_img {
        width: 100%;
    }
}
