<!DOCTYPE html>
<html lang="en" id="top">
{% include "_head.liquid" -%}
<body>
{% include "_h-card.liquid" -%}
<main>
{% include "_title.liquid" -%}
<div id="content">
{{ page.content -}}
</div>
</main>
{% include "_navigation.liquid" -%}
{% include "_footer.liquid" -%}
</body>
</html>
