<!DOCTYPE html>
<html lang="en" id="top">
{% include "_head.liquid" -%}
<body>
<main>
<article class="h-entry">
{% include "_post_title.liquid" -%}
<div id="content" class="e-content">
{{ page.content -}}
</div>
</article>
</main>
{% include "_navigation.liquid" -%}
{% include "_footer.liquid" -%}
</body>
</html>
